.head-container {
   
    height: 80px;
    margin-top: 20px;
    padding: 20px 100px;
    font-size: x-large;
    font-family: 'Dancing Script', cursive;
}

.carousel-inner, .carousel-item, .d-block{
    height: 450px;
    width: 100%;
}

.carousel-caption {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

h2, h6 {
    font-family: 'Inconsolata', monospace;
}

h6 {
    font-weight: bold;
}

.foot-container {
    background-color: rgb(9, 9, 144);
    color: white;
    padding: 25px;
}

.gold {
    color: rgba(130, 111, 6, 0.818);
    font-weight: 900;
}